<div class="container">
  <h1 class="text-center">Eat-Da-Burger</h1>

  <div class="grid">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h2>Order Up!</h2>
          <ul>
            {{#each burgers}}
              {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
              {{/unless}}
            {{/each}}
          </ul>
      </div>
      <div class="col-sm-6 text-center">
        <h2>Devoured Burgers</h2>
          <ul>
            {{#each burgers}}
              {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
              {{/if}}
            {{/each}}
          </ul>
      </div>
    </div>
    <div class="text-center">
      <img src="/assets/img/burger.png">  
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <h2>May I take your order?</h2>
          <form class="create-form">
            <div class="form-group">
              <label for="newBurger">Burger Order:</label>
              <input type="text" id="new-order" name="burger_name">
              <button type="submit" id="newBurger">Add Order</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
